.containerLogo{
    width: 100%;


    .logo{
        width: 200px;
        height: auto;
        margin: 2rem;
        cursor: pointer;
    }
}


.containerCenter{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
    max-width: 70%;
    margin: auto;
    border-radius: 30px;

    h1{
        color: var(--green-500);
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
    }
}

.login{
    margin-top: 2rem;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 1.5rem;

    h1{
        color: var(--green-500);
        padding-bottom: 1rem;
    }

    form{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    form button{
        height: 40px;
        font-size: 1.2rem;
    }
}

.text{
    margin-top: 3rem;
    color: var(--green-500);
    text-align: center;
}


@media (max-width: 800px){

    .containerLogo{
        width: 100%;
    
    
        .logo{
            width: 150px;
            height: auto;
        }
    }

    .login{
        width: 90%;
    }
    .containerCenter{
        max-width: 90%;
        h1{
            font-size: 1.2rem;
        }
    }
}
